<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shorcut icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doc_show.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    

    <title>QR RAPORLAMA </title>
</head>

<body>

    <nav class="nav">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" style="height:100px;width:100px;">
        <a href="#" class="logo">SAYGI BAKIM</a>
        <ul class="nav-links">
          <li><a href="#" onclick="window.location.href='/';">ANASAYFA</a></li>
          <li><a href="#" onclick="window.location.href='/belge';">BELGE OLUŞTUR</a></li>
          <li><a href="#" onclick="window.location.href='/list';" >BELGELERİM</a></li>
        </ul>
      </nav>
  

    <div class="container">
        <h1> DİĞER BELGELER </h1>

        <a class="custom-btn btn-2" href="../doc/{{_id}}" onclick="this.parentNode.submit()" style="background: #fff; color: #000;" >
            <span class="btnText">GERİ </span>
        </a>
        {% for i in doc_list %}
            {% if i[-3:]=="mp4" %}
            <div class="card">
                <h1>
                   {{i.split("/")[-1]}}
                </h1>   
                <video controls >
                    <source src="{{url_for('static', filename = i)}}" type="video/mp4">
                </video>
               <form action="../download" method="POST">
       
                   <input type="hidden" name={{url_for('static', filename = i)}} value={{url_for('static', filename = i)}} />
                   
                   <a class="custom-btn btn-2" href="#" onclick="this.parentNode.submit()">
                       <span class="btnText">İndir</span>
                   </a>
                   
               </form>
           </div>

            {% elif i[-3:]=="png" or i[-3:]=="jpg" or i[-3:]=="jpeg"%}
                    <div class="card">
                        <h1>
                        {{i.split("/")[-1]}}
                        </h1>   
                    <img src=" {{url_for('static', filename = i)}}" alt="">
                    <form action="../download" method="POST">
            
                        <input type="hidden" name={{url_for('static', filename = i)}} value={{url_for('static', filename = i)}} hidden/>
                        
                        <a class="custom-btn btn-2" href="#" onclick="this.parentNode.submit()">
                            <span class="btnText">İndir</span>
                        </a>
                        
                    </form>
                </div>

           {% else %}

                <div class="card">
                    <h1>
                    {{i.split("/")[-1]}}
                    </h1>   
                <img src=" {{url_for('static', filename = "images/doc.png")}}" alt="">
                <form action="../download" method="POST">
        
                    <input type="hidden" name={{url_for('static', filename = i)}} value={{url_for('static', filename = i)}} hidden/>
                    
                    <a class="custom-btn btn-2" href="#" onclick="this.parentNode.submit()">
                        <span class="btnText">İndir</span>
                    </a>
                    
                </form>
            </div>

           {% endif %}
        
        {% endfor %}
    </div>

</body>

</html>