<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!----======== CSS ======== -->
    <link rel="stylesheet" href="static/css/table.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>QR RAPORLAMA </title>
</head>
<body>

<section class="container cd-table-container">
  <h2 class="cd-title">Search Table Record:</h2>
<div class="container">

</form>
</div>

  <input type="text" class="cd-search table-filter" data-table="order-table" placeholder="Item to filter.." />

  <table class="cd-table order-table table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr  onclick="window.location.href='doc/{{ row.name }}';">
            <td>{{ row.name }}</td>
            <td>{{ row.tarih }}</td>
        </tr>
    {% endfor %}
    </tbody>
    
  </table>


    </section>


    <script>

(function() {
            'use strict';

            var TableFilter = (function() {
                var Arr = Array.prototype;
                var input;

                function onInputEvent(e) {
                    input = e.target;
                    var table1 = document.getElementsByClassName(input.getAttribute('data-table'));
                    Arr.forEach.call(table1, function(table) {
                        Arr.forEach.call(table.tBodies, function(tbody) {
                            Arr.forEach.call(tbody.rows, filter);
                        });
                    });
                }

                function filter(row) {
                    var text = row.textContent.toLowerCase();
                    var val = input.value.toLowerCase();
                    row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
                }

                return {
                    init: function() {
                        var inputs = document.getElementsByClassName('table-filter');
                        Arr.forEach.call(inputs, function(input) {
                            input.oninput = onInputEvent;
                        });
                    }
                };

            })();

            TableFilter.init();
        })();

    </script>

  


</body>

</html>