<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="static/css/table.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Responsive Regisration Form </title>
</head>

<body>




<section class="container cd-table-container">
  <h2 class="cd-title">Search Table Record:</h2>
<div class="container">
  <form action="/upload"  method="post" enctype="multipart/form-data">
    <div class="file-drop-zone" id="file-drop-zone">
        Sürükle ve bırak veya buraya tıkla
    </div>
    <input type="file" name="file" id="file-input" style="display: none;">

    <button class="sumbit" type="submit">
        <span class="btnText">ARA</span>
        <i class="uil uil-navigator"></i>
    </button>

</form>
</div>

  <input type="text" class="cd-search table-filter" data-table="order-table" placeholder="Item to filter.." />

  <table class="cd-table order-table table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr  onclick="window.location.href='doc/{{ row.name }}';">
            <td>{{ row.name }}</td>
            <td>{{ row.tarih }}</td>
        </tr>
    {% endfor %}
    </tbody>
    
  </table>


    </section>


    <script>

(function() {
            'use strict';

            var TableFilter = (function() {
                var Arr = Array.prototype;
                var input;

                function onInputEvent(e) {
                    input = e.target;
                    var table1 = document.getElementsByClassName(input.getAttribute('data-table'));
                    Arr.forEach.call(table1, function(table) {
                        Arr.forEach.call(table.tBodies, function(tbody) {
                            Arr.forEach.call(tbody.rows, filter);
                        });
                    });
                }

                function filter(row) {
                    var text = row.textContent.toLowerCase();
                    var val = input.value.toLowerCase();
                    row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
                }

                return {
                    init: function() {
                        var inputs = document.getElementsByClassName('table-filter');
                        Arr.forEach.call(inputs, function(input) {
                            input.oninput = onInputEvent;
                        });
                    }
                };

            })();

            TableFilter.init();
        })();

    </script>

  




<script>
 const fileDropZone = document.getElementById('file-drop-zone');
    const fileInput = document.getElementById('file-input');


    fileDropZone.addEventListener('dragover', (e) => {
        e.preventDefault();
        fileDropZone.classList.add('dragover');
    });

    fileDropZone.addEventListener('dragleave', () => {
        fileDropZone.classList.remove('dragover');
    });

    fileDropZone.addEventListener('drop', (e) => {
        e.preventDefault();
        fileDropZone.classList.remove('dragover');
        const files = e.dataTransfer.files;
        if (files.length > 0) {
            fileInput.files = files;
            fileDropZone.textContent = `Seçilen dosya: ${files[0].name}`;
        }
    });

    // Dosya girişi seçme işlemi için tıklanabilir öğeyi dinleyiciye ekleyin
    fileDropZone.addEventListener('click', () => {
        fileInput.click();
    });

    // Dosya girişi değiştiğinde (örneğin, dosya seçildiğinde) bu olayı dinleyin
    fileInput.addEventListener('change', () => {
        if (fileInput.files.length > 0) {
            fileDropZone.textContent = `Seçilen dosya: ${fileInput.files[0].name}`;
        }
    });
</script>
</body>

</html>