
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">



    <link rel="stylesheet" href="static/css/style.css">

    <title>Qr Raporlama</title>
</head>

<body>
    <div class="wrapper">
        <div class="card-4">
            <a href="belge">
            <button class="button" onclick="submit" > YENİ BELGE</button>
            </a>
        </div>

        <div class="card-4">
            <a href="list">
            <button class="button" onclick="submit" > BELGE ARA </button>
        </a>
        </div>
    </div>


</body>

</html>











