
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="static/css/style.css">

    <title>Qr Raporlama</title>
</head>

<body>
    <div class="wrapper">
        <div class="card-4">
            <a class="custom-btn btn-2" href="belge" onclick="">
                <h1 class="btnText">BELGE OLUŞTUR </h1>
            </a>
        </div>

        <div class="card-4">
            <a class="custom-btn btn-2" href="list" onclick="">
                <h1 class="btnText">BELGELERİ LİSTELE</h1>
            </a>
        </div>
    </div>

</body>

</html>











